__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.temp/
.gradio/
temp_factory.jpg
debug_raw_mask.jpg
segmented_mask.jpg
segmented_annotated.jpg
day2_mediapipe/models/
day3_yolov8/*.pt
